In [6]:
import pandas as pd
import mysql.connector
pd.options.display.max_columns=None

- Cread la BBDD con el nombre de tiburones.
  
- Cread las tablas de la BBDD:
  
  - Tabla ataques
  
  - Tabla clima
  
- BONUS Insertar los datos en las tablas.

- ðŸ“Œ Nota Esta parte del pair es optativa y no serÃ¡ considerada para la evaluaciÃ³n

In [32]:
df=pd.read_csv('datos/datos_union_clima_ataques.csv',index_col=0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÃ‚Â McNeely,11,14h00 -15h00,NaN,Minor injury to left thigh,Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

*CREAMOS LA BASE DE DATOS*
----

In [10]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab" 
    )
    print("ConexiÃ³n realizada con Ã©xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [9]:
mydb = crear_bbdd("tiburones")

ConexiÃ³n realizada con Ã©xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

*CREAMOS LAS TABLAS*
---

In [43]:
def insertar_tabla(nombre_bbdd, query):
    
    cnx = mysql.connector.connect(user='root', password="AlumnaAdalab",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    mycursor = cnx.cursor()
    
    try: 
        mycursor.execute(query)
        cnx.commit() 
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [44]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÃ‚Â McNeely,11,14h00 -15h00,NaN,Minor injury to left thigh,Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

In [65]:
tabla_ataques= '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
  `id_ataques` INT NOT NULL AUTO_INCREMENT,
  `case_number` DATE NOT NULL,
  `year` FLOAT NOT NULL, 
  `type` VARCHAR(55) NOT NULL,
  `country` VARCHAR(25) NOT NULL,
  `area` VARCHAR(25) NOT NULL,
  `location` VARCHAR(150) NOT NULL,
  `activity` VARCHAR(50) NOT NULL,
  `name` VARCHAR(150) NOT NULL,
  `age` INT NOT NULL,
  `time` VARCHAR(25) NOT NULL,
  `species_` VARCHAR(50) NOT NULL,
  `injury` VARCHAR(500) NOT NULL,
  `fecha_limpia` VARCHAR(25) NOT NULL,
  `fatal` VARCHAR(10) NOT NULL,
  `sex` VARCHAR(10) NOT NULL,
  PRIMARY KEY (`id_ataques`))
ENGINE = InnoDB;
'''

In [66]:
# Debemos terminar el groupby del pair III

tabla_clima= '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima` (
  `id_clima` INT NOT NULL AUTO_INCREMENT,
  `id_ataques` INT NOT NULL,
  `pais` VARCHAR(25) NOT NULL,
  `index` FLOAT NOT NULL,
  `timepoFLOAT` FLOAT NOT NULL, 
  `cloudcover` FLOAT NOT NULL,
  `highcloud`FLOAT NOT NULL,
  `lowcloud`FLOAT NOT NULL,
  `temp2m` FLOAT NOT NULL,
  `lifted_index` FLOAT NOT NULL,
  `rh2m` FLOAT NOT NULL,
  `msl_pressure` FLOAT NOT NULL,
  `prec_amount` FLOAT NOT NULL,
  `snow_depth` FLOAT NOT NULL,
  `wind10.direction` FLOAT NOT NULL,
  `wind10M.speed` FLOAT NOT NULL,
  PRIMARY KEY (`id_clima`),
  CONSTRAINT `fk_tabla_clima_tabla_ataques`
    FOREIGN KEY (`id_ataques`)
    REFERENCES `tiburones`.`ataques` (`id_ataques`))
ENGINE = InnoDB;
'''

In [47]:
df.head(1)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

In [67]:
insertar_tabla('tiburones', tabla_ataques)

In [68]:
insertar_tabla('tiburones', tabla_clima)