Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I.

In [21]:
import pandas as pd
import mysql.connector
pd.options.display.max_columns=None
pd.options.display.float_format = '{:.2f}'.format

In [22]:
df=pd.read_csv('datos/merge_clima_ataques.csv',index_col=0)
df.dropna(axis=0, how="any", subset=None,inplace= True)
for i in df.columns:
    df[i]=df[i].astype("float64",errors="ignore")
df

,id_paises,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,rh950mb,rh900mb,rh850mb,rh800mb,rh750mb,rh700mb,rh650mb,rh600mb,rh550mb,rh500mb,rh450mb,rh400mb,rh350mb,rh300mb,rh250mb,rh200mb,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed,latitud_x,longitud_x,year,age,latitud_y,longitud_y,fatal_N
0.00,australia,103.12,102.89,124.53,167.73,166.25,203.28,264.53,257.19,261.25,260.08,258.36,256.41,285.00,278.59,282.19,280.31,12.69,12.16,9.62,5.41,2.66,1.69,1.19,0.69,0.62,0.98,0.20,-0.25,0.19,2.80,5.52,2.33,97.50,5.53,-9999.00,-9999.00,-9999.00,21.72,2.41,10.27,1022.33,2.59,0.00,100.00,3.09,-24.78,134.75,1945.21,27.53,-24.78,134.75,0.69
1.00,new zealand,215.23,222.19,215.39,207.34,227.81,252.50,254.61,268.05,270.47,265.62,278.98,274.84,275.86,273.12,275.70,289.38,11.94,12.95,10.02,6.64,5.12,3.20,4.86,6.03,6.30,6.91,7.98,9.97,11.64,11.92,10.53,-0.58,97.50,8.84,-9999.00,-9999.00,-9999.00,11.50,8.05,11.73,1024.05,2.52,0.00,198.52,3.69,-41.50,172.83,1941.13,27.17,-41.50,172.83,0.71
2.00,papua new guinea,101.41,101.33,104.06,105.08,84.69,66.95,107.81,134.38,116.88,85.23,119.30,201.56,199.14,266.88,277.42,281.17,13.73,11.67,7.17,2.80,0.44,-0.83,-3.11,-3.94,-4.00,-4.00,-3.44,-2.84,-2.05,-1.97,-1.36,0.34,97.50,2.56,-9999.00,-9999.00,-9999.00,25.77,1.62,11.28,1010.98,2.53,0.00,99.45,3.69,-5.68,144.25,1914.46,24.67,-5.68,144.25,0.53
3.00,south africa,191.95,221.56,247.03,288.75,300.31,289.77,273.36,264.45,261.64,269.22,270.47,278.75,273.75,271.80,271.64,271.80,12.55,11.81,10.92,9.02,8.17,7.41,6.19,5.03,4.39,4.56,6.11,7.19,7.55,6.89,7.86,6.94,97.50,6.88,-9999.00,-9999.00,-9999.00,17.86,2.88,12.41,1018.11,5.28,0.00,166.88,3.25,-28.82,24.99,1960.78,26.16,-28.82,24.99,0.71
4.00,usa,155.86,160.23,194.14,223.12,248.83,251.33,248.91,231.02,217.50,215.55,225.31,230.23,254.69,252.03,249.92,257.66,10.66,11.95,11.00,9.55,8.73,8.64,7.91,7.36,6.09,5.81,6.53,7.56,9.25,9.64,8.89,1.78,97.50,6.05,-9999.00,-9999.00,-9999.00,23.42,-0.86,8.41,1014.20,3.67,0.00,144.14,2.31,39.78,-100.45,1971.07,26.84,39.78,-100.45,0.82

In [23]:
class Cargar_crear:
    
    def __init__(self,bbdd):
        
        self.bbdd = bbdd
    
    
    def crear_bbdd(self):

        mydb = mysql.connector.connect(host="localhost",
                                        user="root", 
                                        password="AlumnaAdalab")
        
        print("Conexión realizada con éxito")
        
        mycursor = mydb.cursor()

        try:
            mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.bbdd};")
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

    def crear_insertar_tabla(self,query):
    
        mydb = mysql.connector.connect(host="127.0.0.1",
                                    user="root",
                                    password="AlumnaAdalab", 
                                    database=f"{self.bbdd}") 
        mycursor = mydb.cursor()
        
        try:
            mycursor.execute(query)
            mydb.commit()
        
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)
            

    def sacar_id_pais(self, pais):
    
        mydb = mysql.connector.connect(host="127.0.0.1",
                                    user="root",
                                    password="AlumnaAdalab", 
                                    database=f"{self.bbdd}") 
        mycursor = mydb.cursor()
        
        try:
            sacar_id = f"SELECT id FROM ataques WHERE pais = '{pais}'"
            mycursor.execute(sacar_id)
            id_paises = mycursor.fetchall()[0][0]
            return id_paises
        
        except: 
            return "No tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID"
        
    def insertar_datos(self,df):
        for i in df.columns:
            df[i]=df[i].astype("float64",errors="ignore")
        
        for indice, fila in df.iterrows(): # iteramos por el dataframe.

        # definimos nuestra query, igual que si lo hicieramos en workbench. ⚠️ Como estamos definiendo nuestra query en varias líneas usamos las triples comillas
        # lo valores que introduciremos serán los del dataframe que estamos iterando, por lo que usaremos los formats de los strings. 

            query_ataque = f"""
                INSERT INTO ataques (id_paises,year,age,latitud_x,longitud_x,fatal_N)
                VALUES ( "{fila["id_paises"]}", "{fila['year']}, "{fila['age']},"{fila['latitud_x']},"{fila['longitud_x']},"{fila['fatal_N']}");
                    """
        # una vez definida la query llamamos a la función que nos inserta los datos. 
            self.crear_insertar_tabla(query_ataque)
            
        for indice, fila in df.iterrows():

            id_paises=self.sacar_id_pais(fila['id_paises'])
    
            query_clima = f"""
                        INSERT INTO clima (wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,\
                            wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,\
                            rh950mb,rh900mb,rh850mb,rh800mb,rh750mb,rh700mb,rh650mb,rh600mb,rh550mb, rh500mb,rh450mb,rh400mb,rh350mb,\
                            rh300mb,rh250mb,rh200mb,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,\
                            prec_amount,snow_depth,wind10M.speed,latitud_y,longitud_y) 
                        VALUES ({fila['wind_950mb']},{fila['wind_900mb']},{fila['wind_850mb']},{fila['wind_800mb']},{fila['wind_750mb']}, 
                        {fila['wind_700mb']},{fila['wind_650mb']},{fila['wind_600mb']},{fila['wind_550mb']},{fila['wind_500mb']},{fila["wind_450mb"]}, 
                        {fila['wind_400mb']},{fila['wind_350mb']},{fila['wind_300mb']},{fila['wind_250mb']},{fila['wind_200mb']},{fila['rh950mb']},{fila['rh900mb']},
                        {fila["rh850mb"]},{fila['rh800mb']},{fila['rh750mb']},{fila['rh700mb']},{fila['rh650mb']},{fila['rh600mb']},{fila['rh550mb']},
                        {fila['rh500mb']},{fila["rh450mb"]},{fila['rh400mb']},{fila['rh350mb']},{fila['rh300mb']},{fila['rh250mb']},{fila['rh200mb']}, 
                        {fila['timepoint']},{fila['cloudcover']},{fila["highcloud"]},{fila['midcloud']},{fila['lowcloud']},{fila['temp2m']},{fila['lifted_index']},
                        {fila['rh2m']},{fila['msl_pressure']},{fila['prec_amount']},{fila['snow_depth']}, {fila['wind10m.speed']},{fila['latitud_y']},
                        {fila['longitud_y']},{id_paises});
                        """
                        
            self.crear_insertar_tabla(query_clima)
            # en vez de carga se pone el nombre de la variable que nosotros creemos cuando llamamos a 
            # la clase de crear tabla: carga.crear_insertar_tabla( query_medidas)

In [24]:
tabla_ataques= '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `id_paises` VARCHAR(15) NOT NULL,
  `year` VARCHAR (50) NOT NULL, 
  `age` VARCHAR (50) NOT NULL,
  `latitud_x` VARCHAR (50) NOT NULL,
  `longitud_x` VARCHAR (50) NOT NULL,
  `fatal_N` VARCHAR (50) NOT NULL,
  PRIMARY KEY (`id`))
ENGINE = InnoDB;
'''

tabla_clima= '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima` (
  `id_clima` INT NOT NULL AUTO_INCREMENT,
  `id` INT NOT NULL,
  `wind_950mb` VARCHAR (50) NOT NULL,
  `wind_900mb` VARCHAR (50) NOT NULL, 
  `wind_850mb` VARCHAR (50) NOT NULL, 
  `wind_800mb` VARCHAR (50) NOT NULL,
  `wind_750mb` VARCHAR (50) NOT NULL, 
  `wind_700mb` VARCHAR (50) NOT NULL, 
  `wind_650mb` VARCHAR (50) NOT NULL, 
  `wind_600mb` VARCHAR (50) NOT NULL, 
  `wind_550mb` VARCHAR (50) NOT NULL,
  `wind_500mb` VARCHAR (50) NOT NULL, 
  `wind_450mb` VARCHAR (50) NOT NULL, 
  `wind_400mb` VARCHAR (50) NOT NULL, 
  `wind_350mb` VARCHAR (50) NOT NULL, 
  `wind_300mb` VARCHAR (50) NOT NULL,
  `wind_250mb` VARCHAR (50) NOT NULL, 
  `wind_200mb` VARCHAR (50) NOT NULL, 
  `rh950mb` VARCHAR (50) NOT NULL, 
  `rh900mb` VARCHAR (50) NOT NULL, 
  `rh850mb` VARCHAR (50) NOT NULL, 
  `rh800mb` VARCHAR (50) NOT NULL,
  `rh750mb` VARCHAR (50) NOT NULL, 
  `rh700mb` VARCHAR (50) NOT NULL, 
  `rh650mb` VARCHAR (50) NOT NULL, 
  `rh600mb` VARCHAR (50) NOT NULL, 
  `rh550mb` VARCHAR (50) NOT NULL, 
  `rh500mb` VARCHAR (50) NOT NULL,
  `rh450mb` VARCHAR (50) NOT NULL, 
  `rh400mb` VARCHAR (50) NOT NULL, 
  `rh350mb` VARCHAR (50) NOT NULL, 
  `rh300mb` VARCHAR (50) NOT NULL, 
  `rh250mb` VARCHAR (50) NOT NULL, 
  `rh200mb` VARCHAR (50) NOT NULL,
  `timepoint` VARCHAR (50) NOT NULL, 
  `cloudcover` VARCHAR (50) NOT NULL,
  `highcloud`VARCHAR (50) NOT NULL,
  `midcloud` VARCHAR (50) NOT NULL,
  `lowcloud`VARCHAR (50) NOT NULL,
  `temp2m` VARCHAR (50) NOT NULL,
  `lifted_index` VARCHAR (50) NOT NULL,
  `rh2m` VARCHAR (50) NOT NULL,
  `msl_pressure` VARCHAR (50) NOT NULL,
  `prec_amount` VARCHAR (50) NOT NULL,
  `snow_depth` VARCHAR (50) NOT NULL,
  `wind10M.speed` VARCHAR (50) NOT NULL,
  `latitud_y` VARCHAR (50) NOT NULL,
  `longitud_y` VARCHAR (50) NOT NULL,
  PRIMARY KEY (`id_clima`),
  CONSTRAINT `fk_tabla_clima_tabla_ataques`
    FOREIGN KEY (`id`)
    REFERENCES `tiburones`.`ataques` (`id`))
ENGINE = InnoDB;
'''

In [25]:
bbdd="tiburones"

In [26]:
probando=Cargar_crear(bbdd)

In [27]:
crear_bbdd=probando.crear_bbdd()

Conexión realizada con éxito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

In [28]:
crear_tabla_ataque=probando.crear_insertar_tabla(tabla_ataques)

In [29]:
crear_tabla_clima=probando.crear_insertar_tabla(tabla_clima)

In [30]:
insertar=probando.insertar_datos(df)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '27.527397260273972,"-24.7761,"134.755,"0.6902587519025876")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '27.527397260273972,"-24.7761,"134.755,"0.6902587519025876")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '27.174603174603174,"-41.5000831,"172.8344077,"0.7063492063492064")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '27.174603174603174,"-41.5000831,"172.8344077,"0.7063492063492064")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '24.666666666666668,"-5.6816069,"144.2489081,"0.5317460317460317")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '24.666666666666668,"-5.6816069,"144.2489081,"0.5317460317460317")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '26.15909090909091,"-28.8166236,"24.991639,"0.7097902097902098")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '26.15909090909091,"-28.8166236,"24.991639,"0.7097902097902098")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '26.84205735093309,"39.78373,"-100.445882,"0.8215748748293127")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '26.84205735093309,"39.78373,"-100.445882,"0.8215748748293127")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'tenemos ese país en la BBDD y por lo tanto no te podemos sacar su ID)' at line 9